<section class="ueber-uns mt-5 pt-5">
    <div class="row">
        <div class="col-12">
            <h1>Bewerbungstipps</h1>
			<h2 class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="h3--fett">Bewerbungswege</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima? Wir bieten vieLorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
            <h3 class="h3--fett">Schnell und persönlich</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
            <h3 class="h3--fett">Onlinebewerbung</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
            <h3 class="h3--fett">Bewerbung per E-Mail</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
        </div>
    </div>
</section>





<!--Section: Features v.4-->
<section class="section ueber-uns feature-box">

    <!--Section heading-->
     <h2>Bewerbungsprozess</h2>
    <!--Section description-->
    <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

    <!--Grid row-->
    <div class="row features-small">

        <!--Grid column-->
        <div class="col-md-4">
<h3 class="h3--fett">Telefonische Bewerbung</h3>
            <!--Grid row-->
            <div class="row mb-2 pt-4">
                <div class="col-2">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Schritt 1</h5>
                    <p class="grey-text">Sie kontaktieren uns telefonisch und wir beantworten Ihre Fragen rund um unsere Vermittlungsangebote.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fa fa-id-card-o"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Schritt 2</h5>
                    <p class="grey-text">Wir konnten Sie überzeugen und können Ihre Kontaktdaten für den Bewerbungsprozess aufnehmen. </p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                     <i class="fa fa-child"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Schritt 3</h5>
                    <p class="grey-text">Nachdem wir den Kontakt zu unserem Partnerunternehmen hergestellt haben, setzt sich dieses direkt mit Ihnen für ein persönliches Kennenlernen in Verbindung.</p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-2 center-on-small-only flex-center">
            <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" alt="" class="z-depth-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
<h3 class="h3--fett">Schriftliche Bewerbung</h3>
            <!--Grid row-->
            <div class="row mb-2 pt-4">
                <div class="col-2">
                    <i class="fa fa-envelope-o"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Schritt 1</h5>
                    <p class="grey-text">Nach Absenden des ausgefüllten Online-Bewerbungsformulars prüfen und sichten wir Ihre Bewerbungsunterlagen.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fa fa-share-square-o"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Schritt 2</h5>
                    <p class="grey-text">Wir suchen für Sie das passende Partnerunternehmen und leiten Ihre Unterlagen dorthin weiter.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                     <i class="fa fa-flag-checkered indigo-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Schritt 3</h5>
                    <p class="grey-text">Nach erneuter Prüfung Ihrer Unterlagen, nimmt unser Partnerunternehmen mit Ihnen telefonisch oder per E-Mail Kontakt auf und vereinbart ein persönliches Kennenlernen.</p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--/Section: Features v.4-->
            