<div class="row mt-5 pt-5">
    <div class="col ">
		<h1>TestSeite</h1> <h2>Lorem ipsum dolor sit amet</h2>
        <br>
		<h3 class="lead"> Lorem ipsum dolor sit amet</h3>
    </div>
</div>

<div id="accordion">
    <div class="card waves-dark hoverable" mdbRippleRadius>
        <div class="card-header" id="headingOne">
            <h5>
                <button class="btn btn-link">
					<i class="fa fa-star" ></i> Lorem ipsum dolor sit amet
        </button>
            </h5>
        </div>
    </div>
    <div class="card waves-dark hoverable" mdbRippleRadius>
        <div class="card-header" id="headingOne">
            <h5>
                <button class="btn btn-link">
					<i class="fa fa-briefcase" ></i> Lorem ipsum dolor sit amet
        </button>
            </h5>
        </div>
    </div>
    <div class="card waves-dark hoverable" mdbRippleRadius>
        <div class="card-header" id="headingOne">
            <h5>
                <button class="btn btn-link">
					<i class="fa fa-bullhorn" ></i> Lorem ipsum dolor sit amet
        </button>
            </h5>
        </div>
    </div>

</div>


<section class="section feature-box">

    <!--Section heading-->
	<h3 class="section-heading h3--duen">Lorem ipsum dolor sit amet</h3>
    <!--Section description-->
    <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

    <!--Grid row-->
    <div class="row features-small pt-5">

        <!--Grid column-->
        <div class="col-lg-5 mb-r center-on-small-only">
            <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7">

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-bank blue-text"></i>
                </div>
                <div class="col-10">
					<h5 class="feature-title">Lorempsum</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic. <a href="#" class="btn-link hoverable">Mehr</a></p>

                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-code blue-text"></i>
                </div>
                <div class="col-10">
					<h5 class="feature-title">Lorempsum<</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic. <a href="#" class="btn-link hoverable">Mehr</a></p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-money blue-text"></i>
                </div>
                <div class="col-10">
					<h5 class="feature-title">Lorempsum<</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic. <a href="#" class="btn-link hoverable">Mehr</a></p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.3-->
